<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipebook</title>
</head>
<body>
<h1>Recipebook</h1>
    
    <ul id="recipe">
    {% for recipe in recipes %}
        <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}

    </ul>
    <p>
        <a href="addrecipe/">Add a new recipe</a>
    </p>
    <p>
        <a href="addauthor/">Add a new author</a>
    </p>
    <p>
        <a href="signup/">sign up</a>
    </p>

    <p>
        <a href="myfavorites/">favorites</a>
    </p>
    <div>
    <a href="logout">Logout</button>
    </div>
</body>
</html>